@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');
@import 'tailwindcss';
@import 'tailwindcss-primeui';

html {
  font-size: 20px;
  font-family: 'Inter', sans-serif;
}

button {
  @apply cursor-pointer;
}

@layer main {
  .page {
    @apply max-w-[1100px];
    @apply mx-auto;
    @apply min-h-dvh;
    @apply p-5;
  }
}
