@import 'tailwindcss';

/* html {
  font-size: 20px;
} */

button {
  @apply cursor-pointer;
}

@layer main {
  .page {
    @apply max-w-[1100px];
    @apply mx-auto;
    @apply min-h-dvh;
    @apply p-5;
  }
}
